__pycache__/lm.cpython-312.pyc
__pycache__/Meri_Bot.cpython-312.pyc
__pycache__/reason.cpython-312.pyc
__pycache__/search.cpython-312.pyc
__pycache__/sum.cpython-312.pyc
__pycache__/vis.cpython-312.pyc
__pycache__/voice_handler.cpython-312.pyc
__pycache__/voice.cpython-312.pyc
__pycache__/ytdl_auth.cpython-312.pyc
__pycache__/config.cpython-312.pyc
Meri_Token.env
temp/
*.pyc
*.pyo
*.pyd
.Python
*.log
rename_project.bat
.gitignore